body {
    background-image: url('../images/star.gif');
    letter-spacing: 1px;
    text-align: justify;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Mate', serif;
    margin: 0;
    cursor: url('../images/cursor.cur'), auto;
    padding: 0;
    overflow-x:hidden;
}

.title-container {
    background-color: rgb(28, 39, 26, 0.1);
    text-align: center;
    padding: 20px;
}

.title-container h1 {
    color: white; /* Set the color of the Welcome text to white */
}

.intro-container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

.top, .bottom {
  display: flex;
	flex-direction: row;
}
.top {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}

.main-content {
    flex: 3;
    padding-right: 20px;
    width: 1000px;
}

  .sidebar {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-top: 10px solid #2c1d31;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 200px; /* Set the width to 200px */
    border-radius: 10px;
  }

  .navi-links {
    display: flex;
    flex-direction: column;
    width: 200px;
    
  }

  .navi-links a {
    background-color: #b89cc2;
    color: rgb(86, 43, 99);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .navi-links a.active {
    background-color: rgb(134, 77, 156);
    color: rgb(39, 18, 49);
  }

  .navi-links a:hover {
    background-color: #5e2b6e;
    color: white;
    text-decoration: none; /* Remove underline on hover */
    cursor: url(../images/Gengar_Cursor.cur),auto; /* Gengar cursor: http://www.rw-designer.com/cursor-detail/119835*/
  }
  .navigation-title {
    background-color: #2c1d31;
    font-size: 20px;
    color: rgb(134, 77, 156);
    border-radius: 13px;
    letter-spacing: 3px;
    height: 40px; /* Set the height to 200px */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 200px; /* Set the width to 200px */
  }

.post {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid rgb(134, 77, 156);
    max-width: 1000px;
    height: 270px;
    border-radius: 10px;
}

.bottom {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
}

.left-box {
  flex: 3;
  padding-right: 20px;
  width: 800px;
}

.left-stuff {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 1px solid rgb(134, 77, 156);
  max-width: 700px;
	min-width: 50%;
  border-radius: 10px;
  padding-right: 20px;
  height: 350px;
}

.right-stuff {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 1px solid rgb(134, 77, 156);
  width: 1000px;
	min-width: 50%;
  border-radius: 10px;
  height: 350px;
}

.ghost-cat {
  width: 250px; /* Maintain the width */
  margin-top: 15px; /* Optional: Add some margin for spacing */
}

h1, h2 {
    font-family: 'Lustria', serif;
    text-align: center;
}

p {
    text-align: center;

}

ul {
  /* 
    This is for editing the navigation list bullet points and stuff
  */
}

a {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.star {
  position: absolute;
  top: -20px;
  color: rgba(255, 255, 255, var(--opacity));
  animation: animate 5s linear forwards;
  /* you can set infinite too */
}
  .star::before {
    content: "\f005";
    font-family: FontAwesome;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 50px #fff;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .star {
      font-size: 8px;
    }
  }
  